*{   
    box-sizing: border-box;
}

body{
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: 3px solid #e8491a;
}

header a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: -50px;
}

header .highlight,
header .current a{
    color: #e8491a;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(./assets/bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    text-align: center;
    color: #ffffff;
}

#showcase h2{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 55px;
}

#showcase p{
    font-size: 20px;
}

#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h2{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    width: 250px;
    height: 35px;
    padding: 4px;
}

.button-1{
    height: 38px;
    background: #e8491a;
    color: #ffffff;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 90px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background: #e8491a;
    text-align: center;
}


/* about page styling */

#main-col{
    float: left;
    width: 65%;
}

#sidebar{
    float: right;
    width: 30%;
    margin-top: 50px;
}

.dark{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #35424a;
    color: #ffffff;
}

/* services page styling */

ul#services li{
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    background: #e6e6e6;

}

aside#sidebar .quote input,
aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}


/* responsive */

@media screen and (max-width: 768px) {
    
    header #branding,
    header nav,
    header nav li,
    #newsletter h2,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        width: 100%;
        float: none;
        text-align: center;
    }

    header{
        padding-bottom: 50px;
    }

    header nav{
        margin-top: 10px;
    }

    #showcase h2{
        margin-top: 40px;
    }

    #newsletter bottom, .quote button{
        width: 100%;
        display: block;
    }

    #newsletter form input[type="email"],
    .quote input,
    .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }

}








